<div class="row">
  <div class="col s6 offset-s3 white-text">
    <div class="card-panel teal lighten-5">
      <h3 style="color: black;">{{getActualChapters()}}/{{getMaxChapters()}} capítulos actuales.</h3>
      <div class="row">
        <div class="input-field col s12">
          <input style="color: black;" id="title" type="text" class="validate" [(ngModel)]="title">
          <label style="color: black;" for="title" data-error="wrong" data-success="right">Título del capítulo</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea style="color: black;" id="body" class="materialize-textarea" [(ngModel)]="body"></textarea>
          <label style="color: black;" for="body">Cuerpo del capítulo</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input style="color: black;" id="author" type="text" class="validate" [(ngModel)]="author">
          <label style="color: black;" for="author" data-error="wrong" data-success="right">Autor</label>
        </div>
      </div>

      <div class="row">
        <a class="waves-effect waves-light btn" (click)="addChapter()">Enviar</a>
      </div>
    </div>
  </div>
