<div class="row">
  <h2>Escritura</h2>
  <div class="col s6 offset-s3 white-text">
    <div class="card-panel teal">
      <h3>0/5 capítulos actuales.</h3>
      <div class="row">
        <div class="input-field col s12">
          <input id="title" type="text" class="validate">
          <label for="title" data-error="wrong" data-success="right">Título del capítulo</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea id="body" class="materialize-textarea"></textarea>
          <label for="body">Cuerpo del capítulo</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="author" type="text" class="validate">
          <label for="author" data-error="wrong" data-success="right">Autor</label>
        </div>
      </div>

      <div class="row">
        <a class="waves-effect waves-light btn">Enviar</a>
      </div>
    </div>
  </div>
