<div class="row">
  <form class="col s6 offset-s3">
    <div class="card-panel  teal lighten-5">
      <div class="row">
        <div class="input-field col s4">
          <input style="color: black;" placeholder="Número de escritores" id="number_contestants" type="number" class="validate">
          <label style="color: black;" for="number_contestants">Número de escritores</label>
        </div>
        <div class="input-field col s4">
          <input style="color: black;" placeholder="Número de capítulos" id="number_chapters" type="number" class="validate">
          <label style="color: black;" for="number_chapters">Número de capítulos</label>
        </div>
        <div class="input-field col s4">
          <input style="color: black;" placeholder="Número de votos para ganar" id="number_votes" type="number" class="validate">
          <label style="color: black;" for="number_votes">Número de votos para ganar</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input style="color: black;" placeholder="Precio para publicar capítulo" id="price_chapter" type="number" class="validate">
          <label style="color: black;" for="price_chapter">Precio para publicar capítulo</label>
        </div>
        <div class="input-field col s6">
          <input style="color: black;" placeholder="Precio para votar un capítulo" id="price_vote" type="number" class="validate">
          <label style="color: black;" for="price_vote">Precio para votar un capítulo</label>
        </div>
        <a class="btn-floating btn-large waves-effect waves-light red">
          <i class="material-icons">add</i>
        </a>

      </div>
    </div>
  </form>
</div>
