<div class="row">
  <div class="col s6 offset-s3">
    <div class="card-panel">
      <div class="row">
        <ul class="collapsible popout" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">
              1º Capítulo
            </div>
            <div class="collapsible-body">
              <span>El capitulo uno con su descripción y sus historias........</span>
            </div>
          </li>
          <li>
            <div class="collapsible-header">
              2º Capítulo
            </div>
            <div class="collapsible-body">
              <span>Hodor, hodor; hodor hodor? Hodor, hodor - hodor hodor! Hodor HODOR hodor, hodor hodor? Hodor hodor... Hodor
                hodor hodor... Hodor hodor hodor - hodor, hodor, hodor hodor. Hodor, hodor. Hodor. Hodor, hodor, hodor. Hodor
                hodor, hodor. Hodor hodor. Hodor, HODOR hodor, hodor hodor... Hodor hodor hodor?</span>
            </div>
          </li>
          <li>
            <div class="collapsible-header">
              3º Capítulo
            </div>
            <div class="collapsible-body">
              <span>Hodor hodor - HODOR hodor, hodor hodor hodor hodor hodor hodor?! Hodor! Hodor hodor, hodor hodor hodor hodor?!
                Hodor! Hodor hodor, hodor... Hodor hodor hodor; hodor hodor. Hodor. Hodor hodor hodor hodor hodor, hodor,
                hodor hodor. Hodor hodor - hodor hodor hodor hodor hodor hodor hodor. Hodor hodor HODOR! Hodor hodor... Hodor
                hodor hodor? Hodor! Hodor hodor, hodor hodor hodor! Hodor hodor - hodor; hodor hodor; hodor hodor?!</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
